
root { 
    display: block;
}
.centered {
	text-align: center;
}

body{
    font-family: "Roboto", Helvetica, sans-serif;
}
.sidebarMenu {
    max-width: 20%;
    z-index: 3000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;   
    border-right: 1px solid #EEE;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: hidden;
}
.sidebar_content
{
    width: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    
}

.sidebar_link
{
    display: inline-block;
    text-align: center;
    color: #333;
    width: 100%;
    margin: 1.875rem auto;
    -webkit-transition-property: background; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: background;
    transition-duration: 1s;


}
.sidebar_link.highlight:hover {
    background: #593196;
    
}

.highlight{
    background : transparent;
    -webkit-transition-property: background, color; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: background, color;
    transition-duration: 1s;
}

.highlight:hover{
    background: #593196;
    color: white;
}

a {
    display: block;
    color: #593196;
    padding: 16px 24px;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}


/*li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/
button {
    height: 50px;
    width: 150px;
    border-color: #593196; 
    border-radius: 8px;
}
.btn-lg, .btn-group-lg>.btn {
    border-radius: 8px;
}

h1 {
    font-family: "Poppins";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.25rem;
}


