root { 
    display: block;
}
.centered {
	text-align: center;
}

.sansSerif{
    font-family: sans-serif;
}
.sidebarMenu {
    max-width: 20%;
    z-index: 3000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;   
    border-right: 1px solid #EEE;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar_content
{
    width: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    
}

.sidebar_link 
{
    display: inline-block;
    text-align: center;
    color: #333;
    width: 100%;
    margin: 1.875rem auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/
button {
    height: 30px;
    width: 150px;
}
/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

body {
 padding-top:50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
